.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  height: 7rem;
  margin: 0 auto;
  font-family: var(--font-family1);
  font-weight: 500;
  font-size: 1.6rem;
}
