:root {
  --primary-color: #495e57;
  --primary-color2: #f4ce14;
  --secondary-color: #ee9972;
  --secondary-color2: #fbdabb;
  --highlight-color: #edefee;
  --highlight-color2: #333333;

  --font-family1: "Karla", sans-serif;
  --font-family2: "Markazi Text", serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.6rem;
  background-color: var(--highlight-color);
  color: var(--highlight-color2);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
button,
a {
  display: block;
}

button {
  font: var(--font-family1);
  cursor: pointer;
}

span {
  display: inline-block;
}

label {
  display: block;
}

input {
  display: block;
  font: var(--font-family1);
}

/* .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
} */

/* .container {
  max-width: 1100px;
  background-color: var(--primary-color2);
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    padding: 10px;
  }
} */
